.contactpage{
    text-align: center;
  
  }
  .headc{
    font-size:medium;
  }
  .contact {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    
  }
  
  .contact .ContactContent {
    display: flex;
    margin: 50px auto;
    
    position: relative;
   
    /* left: 30%; */
  }
  .contact .ContactContent form {
    
    width: 500px;
    background: #fff;
    padding: 40px;
  }
  .ContactContent .form-group {
    margin: 15px auto;
  }
  .ContactContent form h6 {
    font-size: 20px;
   color: blue;
    font-weight: 600;
    text-align-last: center;
  }
  .ContactContent .btn {
    width: 100%;
   
    
    color: #fff !important;
    border-radius: 15px;
    transition: 0.2s;
  }
  .form-control{
   
    width: 400px;
    
  }
  .form-group{
    margin-top: 50rem;
   
  }
  
  